html, body {
    height: 100%;
  }
  
  body {
    background-color: #f8f8f8;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  #root {
    height: 100%;
  }